        section {
            float: left;
            width: 33.333%;
            box-sizing: border-box;
        }
        
        footer {
            clear: both;
            background-color: lavender;
        }
        
        h1 {
            background-color: lightgreen;
        }
        
        body *:hover {
            background-color: red;
            ;
        }
        
        * {
            text-align: center;
            border-style: solid;
        }